<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <h2>Under construction...</h2>
    <img src="https://raw.githubusercontent.com/charisTheo/under-construction/master/docs/under-construction.gif"/>
    <script src="./assets/scripts/index.js"></script>
  </body>
</html>
